<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
            "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <meta charset="utf-8" />
</head>
<body>
<div class="container" style="margin-top: 20%">
    <div class="col-md-12" align="center">
        <h2>
            <table class="table table-striped">
                <th class="col-md-1">ID</th>
                <th class="col-md-3">ACTION</th>
                <th class="col-md-1">DONE</th>
                <th class="col-md-1">URGENT</th>
                <tr th:each="todo : ${result}">
                    <td class="col-md-1" th:text="${todo.id}"/>
                    <td class="col-md-3" th:text="${todo.title}"/>
                    <td class="col-md-1"><span th:class="${todo.done} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span></td>
                    <td class="col-md-1"><span th:class="${todo.urgent} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span></td>
                    <td class="col-md-1"><a th:href="@{'/todo/'+ ${todo.id} + '/delete'}" class="btn btn-danger" role="button">delete</a> </td>
                    <td class="col-md-1"><a th:href="@{'/todo/' + ${todo.id} + '/update'}" class="btn btn-primary" role="button">update</a> </td>
                </tr>
            </table>
            <div class="col-md-12" align="center">
            <a th:href="@{/todo/list}" class="btn btn-danger" role="button">Back to the list</a>
            </div>
        </h2>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=
        "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>